$maincolor: #ff3645;

.App {
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: inset 0px 0px 100px 100px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 0px 100px 100px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 0px 100px 100px rgba(0, 0, 0, 0.8);
}

.content {
  width: auto;
  max-width: 900px;
  height: auto;
  background-color: rgba(1, 1, 1, 0.8);
  display: flex;
  margin: auto;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(1, 1, 1, 0.3);
  flex-wrap: wrap;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* -------------------------------------------- HEADER ----------------------------------------------- */

.header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  background-color: $maincolor;
  height: auto;
}

.header-container {
  width: 100%;
  position: fixed;
  top: 0;
}

.headerLogoButton {
  font-family: "Montserrat", sans-serif;
  padding: 18px 25px 18px 25px;
  font-size: 22px;
  font-weight: 400;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.headerLogoButton:hover {
  color: black;
}

.logoSection {
  display: flex;

  p {
    font-weight: 400;
    align-self: center;
  }
}

#splash-text {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

/* -------------------------------------------- INFO ----------------------------------------------- */

.coverBox {
  width: 12rem;
  height: 12rem;
  background-size: cover;
  border-radius: 3px;
  border-style: solid;
  margin: 24px;
}

.mainInfo {
  text-align: left;

  h1 {
    font-weight: 200;
    font-size: 28px;
  }

  h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1rem;
  }
}

.social {
  i {
    margin: 2rem;
    margin-left: 0;
  }

  a {
    color: white;
  }

  a:hover {
    color: $maincolor;
  }
}

.description {
  text-align: left;
  line-height: 1.4rem;
  width: 94%;
  margin: 0 24px 1rem 24px;
  font-size: 14px;
}

/* -------------------------------------------- PLAYER ----------------------------------------------- */

.playerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

#player {
  width: 100%;
}

.playerControl {
  margin: 2rem;
  margin-top: 0;
  background-color: transparent;
  border-style: none;
  color: white;
  text-shadow: 2px 2px 2px rgba(1, 1, 1, 0.8);

  :hover {
    color: $maincolor;
    cursor: pointer;
  }
}

.progressBar {
  width: 90%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: auto;
  margin-bottom: 6px;
}

.progress {
  height: 100%;
  background-color: white;
  width: 0%;
}

.progressTime {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  line-height: 0;
}

#seekTime {
  text-align: start;
}

#durationTime {
  text-align: end;
}

/* -------------------------------------------- FOOTER ----------------------------------------------- */

.footer {
  width: 100%;
  position: sticky;
  bottom: 0;
  font-size: 14px;
  font-weight: 200;
  padding-bottom: 10px;
}

/* -------------------------------------------- MODES ----------------------------------------------- */

.modes {
  height: auto;
  display: flex;
  margin: auto auto 0 auto;
}

.mode-btn {
  font-family: "Montserrat", sans-serif;
  background: none;
  border: none;
  border-bottom: 2px solid;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 1rem;
  padding: 1rem 1.6rem;
  cursor: pointer;
  margin: 0 1rem 1rem 1rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.mode-btn:hover {
  color: $maincolor;
}

.active-mode {
  color: $maincolor;
  text-shadow: none;
}

.genreDropdown {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  display: inline-block;

  button {
    margin-bottom: 0;
  }

  i {
    margin-left: 10px;
  }
}

.dropdownContent {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 1;

  button {
    margin: 0 1rem 0 1rem;
    border: none;
  }
}

.genreDropdown:hover .dropdownContent {
  display: flex;
}

/* ---------------------------------------------- BUTTONS -----------------------------------------------*/

.menu {
  display: flex;
  align-items: center;

  p {
    font-size: 14px;
  }
}

.dropdownButton {
  background: none;
  cursor: pointer;
  border: none;
  color: white;
  padding: 1.2rem 2rem 1.2rem 1.2rem;
}

.menu-button {
  font-family: "Montserrat", sans-serif;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 1rem;
  padding: 1rem 1.6rem;
  cursor: pointer;
  margin: 4px 20px 4px 10px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.menu-button:hover {
  color: $maincolor;
  background-color: rgba(0, 0, 0, 0.8);
}

.menuDropdown {
  background: none;
  border: none;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 80px;
  right: 0;
}

.btn {
  font-family: "Montserrat", sans-serif;
  background-color: $maincolor;
  border: solid;
  color: white;
  font-size: 14px;
  padding: 12px 18px;
  border-radius: 50px;
  margin: 0 10px;
  cursor: pointer;
}

.btn:hover {
  color: $maincolor;
  background-color: white;
}

.btn:disabled {
  background: none;
}

.btn:disabled:hover {
  color: white;
  background: none;
  cursor: default;
}

/*-------------------------------------------------- VOTES ------------------------------------------------*/

.votes {
  margin: 10px 20px 0 auto;
  padding: 10px;

  h2 {
    font-size: 2rem;
    margin: 8px;
  }

  p {
    font-size: 1rem;
    margin: 8px;
  }
}

/*------------------------------------------------ FORMS ------------------------------------------------*/

.forms {
  width: auto;

  h1 {
    font-weight: 200;
  }

  p {
    font-size: 13px;
  }

  hr {
    border-color: $maincolor;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 14px;
  }

  input {
    font-family: "Montserrat", sans-serif;
    padding: 8px;
    margin: 4px 10px 24px 10px;
    background: none;
    color: white;
    border: none;
    border-bottom: 2px solid;
    border-color: rgba(255, 255, 255, 0.603);
  }

  input:focus {
    background-color: #ffffff1e;
    border-color: #f3f3f3;
  }

  input:hover {
    border-color: #f3f3f3;
  }

  label {
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
  }

  checkbox {
    background: none;
  }
}

#accept {
  margin-left: 0;
}

.registerResponse {
  display: flex;
  justify-content: center;

  p {
    font-size: 12px;
  }
}

/*------------------------------------------- EFFECTS ----------------------------------------------------*/

.column {
  display: flex;
  flex-direction: column;
  max-width: 75%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

input:invalid {
  border: none;
  border-bottom: 2px solid;
  border-color: red;
  box-shadow: none;
}

input:valid {
  border-color: rgba(255, 255, 255, 0.6);
}

.loader {
  display: none;
  margin: auto;
  border: 4px solid #5a5a5a;
  border-top: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.show {
  display: flex;
}

.hide {
  display: none;
}

@media only screen and (max-width: 700px) {
  #slogan {
    display: none;
  }

  .logInButton {
    display: none;
  }

  .signUpButton {
    display: none;
  }

  #splash-text {
    display: none;
  }
}
