.App {
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: inset 0px 0px 100px 100px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 0px 100px 100px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 0px 100px 100px rgba(0, 0, 0, 0.8);
}

.content {
  width: auto;
  max-width: 75%;
  height: auto;
  background-color: rgba(1, 1, 1, 0.8);
  display: flex;
  margin: auto;
  margin-top: auto;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(1, 1, 1, 0.3);
  flex-wrap: wrap;
}

/* -------------------------------------------- HEADER ----------------------------------------------- */

.header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  background-color: #ff3645;
  height: auto;
}

.header h1 {
  font-size: 1.6rem;
  font-weight: 200;
}

.header a {
  color: white;
  text-decoration: none;
  margin: 0 40px;
}

.logoSection {
  display: flex;
}

.logoSection p {
  font-weight: 400;
  align-self: center;
}

#splash-text {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

/* -------------------------------------------- INFO ----------------------------------------------- */

.coverBox {
  width: 15rem;
  height: 15rem;
  background-size: cover;
  border-radius: 5px;
  border-style: solid;
  margin: 2rem;
}

.mainInfo {
  text-align: left;
}

.social i {
  margin: 2rem;
  margin-left: 0;
}

.social a {
  color: white;
}

.social a :hover {
  color: #ff3645;
}

.description {
  text-align: left;
  line-height: 1.4rem;
  width: 90%;
  margin: 0 2rem 1rem 2rem;
}

/* -------------------------------------------- PLAYER ----------------------------------------------- */

.playerControl {
  margin: 2rem;
  margin-top: 0;
  background-color: transparent;
  border-style: none;
  color: white;
  text-shadow: 5px 5px 5px rgba(1, 1, 1, 0.8);
}

.playerControl :hover {
  color: #ff3645;
  cursor: pointer;
}

.progressBar {
  width: 90%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: auto;
  margin-bottom: 6px;
}

.progress {
  height: 100%;
  background-color: white;
  width: 0%;
}

.progressTime {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  line-height: 0;
}

#seekTime {
  text-align: start;
}

#durationTime {
  text-align: end;
}

/* -------------------------------------------- FOOTER ----------------------------------------------- */

.footer {
  font-size: 14px;
  font-weight: 200;
  padding-bottom: 10px;
}

/* -------------------------------------------- MODES ----------------------------------------------- */

.modes {
  height: auto;
  display: flex;
  margin: auto auto 0 auto;
}

.mode-btn {
  font-family: "Montserrat", sans-serif;
  background: none;
  border: none;
  border-bottom: 2px solid;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 1rem;
  padding: 1rem 1.6rem;
  cursor: pointer;
  margin: 0 1rem 1rem 1rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.mode-btn:hover {
  color: #ff3645;
}

.active-mode {
  color: #ff3645;
  text-shadow: none;
}

.genreDropdown {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  display: inline-block;
}

.genreDropdown button {
  margin-bottom: 0;
}

.genreDropdown i {
  margin-left: 10px;
}

.dropdownContent {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}

.dropdownContent button {
  margin: 0 1rem 0 1rem;
  border: none;
}

.genreDropdown:hover .dropdownContent {
  display: flex;
}

/* ---------------------------------------------- BUTTONS -----------------------------------------------*/

.menu {
  display: flex;
  align-items: center;
}

.dropdownButton {
  background: none;
  cursor: pointer;
  border: none;
  color: white;
  padding: 1.2rem 2rem 1.2rem 1.2rem;
}

.menu-button {
  font-family: "Montserrat", sans-serif;
  background: none;
  border: none;
  border-bottom: 2px solid;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 1rem;
  padding: 1rem 1.6rem;
  cursor: pointer;
  margin: 0 20px 0 10px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.menu-button:hover {
  color: #ff3645;
}

.menuDropdown {
  background: none;
  border: none;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 80px;
  right: 0;
}

.btn {
  font-family: "Montserrat", sans-serif;
  background-color: #ff3645;
  border: solid;
  color: white;
  font-size: 14px;
  padding: 12px 18px;
  border-radius: 50px;
  margin: 0 10px;
  cursor: pointer;
}

.btn:disabled {
  background: none;
}

.btn:disabled:hover {
  color: white;
  background: none;
  cursor: default;
}

.btn:hover {
  color: #ff3645;
  background-color: white;
}

/*-------------------------------------------------- VOTES ------------------------------------------------*/

.votes {
  margin: 10px 20px 0 auto;
  padding: 10px;
}

.votes h2 {
  font-size: 2rem;
  margin: 8px;
}

.votes p {
  font-size: 1rem;
  margin: 8px;
}

/*------------------------------------------------ FORMS ------------------------------------------------*/

.forms {
  width: auto;
}

.forms h1 {
  font-weight: 200;
}

.forms hr {
  border-color: #ff3645;
  margin-bottom: 20px;
}

.forms form {
  display: flex;
  flex-direction: column;
  margin: 14px;
}

.forms input {
  font-family: "Montserrat", sans-serif;
  padding: 8px;
  margin: 4px 10px 24px 10px;
  background: none;
  color: white;
  border: none;
  border-bottom: 2px solid;
}

.forms input:focus {
  background-color: #ffffff1e;
}

.forms label {
  font-size: 12px;
  text-align: left;
  margin-left: 10px;
}

.forms checkbox {
  background: none;
}

#accept {
  margin-left: 0;
}

/*------------------------------------------- EFFECTS ----------------------------------------------------*/

.show {
  display: flex;
}

.invalid {
  border-color: red;
}

.valid {
  border-color: lime;
}
