.genre-dropdown {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  display: flex;
}

.genre-dropdown select {
  font-family: "Montserrat", sans-serif;
  margin: 8px;
  padding: 6px;
  border: none;
  border-bottom: 2px solid;
  border-color: rgba(255, 255, 255, 0.6);
  color: white;
  background: none;
  appearance: none;
}

.genre-dropdown select:hover {
  border-color: rgba(255, 255, 255, 0.897);
}
