.InputField {
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.file {
  display: flex;

  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  label {
    display: inline-block;
    text-align: center;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 20px;
    cursor: pointer;
  }

  label:hover {
    background-color: rgba(255, 255, 255, 0.281);
  }

  span {
    font-family: "Montserrat", sans-serif;
    margin-left: 6px;
    font-weight: 400;
    font-size: 14px;
  }
}

.InputField textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  background-color: #f3f3f31f;
  color: white;
  border: none;
  border-radius: 15px;
  margin: 12px;
  padding: 8px;
}

.InputField textarea:focus {
  background-color: rgba(255, 255, 255, 0.158);
}
